<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/artistpage.css">
    <title>Groupie-Tracker</title>
</head>
<body>
    <div class="container text-center">
        <a href="/" traget="_blank"><h1>Groupie-Tracker</h1></a>
        <div class="wrapper1">
            <div class="card">
                <img class="img" src="{{ .Image }}" alt="{{ .Name }}">
                <p> Name Artist: {{ .Name }} </p>
                <p>Creation Date : {{ .CreationDate }}</p>
                <p> First Album : {{ .FirstAlbum }} </p>
            </div>
            <div class="card">
                <p>Members:</p>
                {{range .Members}}
                <pre>{{ . }}</pre>
                {{end}}
            </div>
            <div class="card">
                <p>Concerts:</p>
                <ul>
                    {{ range $city, $dates := .DatesLocations }}
                    <li>{{$city}}</li>
                    <ul>
                        {{ range $date := $dates }}
                        <li>{{$date}}</li>
                        {{ end }}
                    </ul>
                    {{ end }}
                </ul>
            </div>
        </div>
        <p>By Made:</p>
        <a href="https://01.alem.school/git/Mr.RobotDumbazz" class="button" target="_blank">
            Mr.RobotDumbazz 
        </a>
        <a href="https://01.alem.school/git/amayev" class="button" target="_blank">
            Amayev 
        </a>
    </div>
    <!-- {{range $city, $dates := .DatesLocations}}
        <div class="wrapper2">
            <tr>
                <div>
                    <td> <p>{{$city}}</p></td>
                </div>
                <div> 
                    {{range $dates}}
                    <td><p>{{.}}</p></td>
                    <br>
                    {{end}}
                </div>
            </tr>
            </table>
        </div>
        {{end}} -->
</body>

</html>